extends ./views/layout.jade

include ./sections/mixins/add_homepage
include ./sections/mixins/add_interactions
include ./sections/mixins/add_attendance
include ./sections/mixins/add_productivity
include ./sections/mixins/add_qpa

block title
  title WFO Data Viewer

append content

  div.pane.sections-pane

    +add_homepage('HOMEPAGE')
    +add_interactions('INTERACTIONS')
    +add_attendance('ATTENDANCE')
    +add_productivity('PRODUCTIVITY')
    +add_qpa('QPA')
