extends ./views/layout.jade

block title
  title WFO Data Viewer

block content

  div.pane

    div.container

      section#homepage_sec.app-section

        .homepage-graph-rows

          h1.text-center TEST!!!

      section#attendance_sec.app-section
      section#interactions_sec.app-section

        .homepage-graph-rows

          .row.homepage-first-row

            #homepage-first-report

          .row.homepage-second-row

            #homepage-second-report

      section#productivity_sec.app-section
      section#qpa_sec.app-section

  //- include ./views/footer.jade
