extends ./views/layout.jade

block title
  title WFO Data Viewer

block content

  div.pane

    section#homepage_sec.app-section
      .page-rows
        h1.text-center HOMEPAGE

    section#attendance_sec.app-section
      .page-rows
        h1.text-center ATTENDANCE

    section#interactions_sec.app-section
      .page-rows
        h1.text-center INTERACTIONS

        .row.homepage-first-row
          .card
            .content
              #homepage-first-report

        .row.homepage-second-row
          .card
            .content
              #homepage-second-report

    section#productivity_sec.app-section
      .page-rows
        h1.text-center PRODUCTIVITY

    section#qpa_sec.app-section
      .page-rows
        h1.text-center QPA
