mixin get_ytd_qpa_solution_report(placeholder)

  section#qpa_ytd_solution_sec.app-section
    .page-rows
      h1.text-center QPA - All Solutions | Year-to-Date
      span.vert-space

      a.hint--top.hint--always(aria-label="CURRENT QPA AVG BY SOLUTION")

      .row.qpa-first-row.flexbox-container

        .gauge-row-flexbox

          .qpa-card
            .content
              h3.text-center.gauge-title
                = 'CD'
              #cd_qpa_yr_avg_gauge

          .qpa-card
            .content
              h3.text-center.gauge-title
                = 'CRM'
              #crm_qpa_yr_avg_gauge

          .qpa-card
            .content
              h3.text-center.gauge-title
                = 'CSO (Billing)'
              #cso_qpa_yr_avg_gauge

          .qpa-card
            .content
              h3.text-center.gauge-title
                = 'DMS'
              #dms_qpa_yr_avg_gauge

          .qpa-card
            .content
              h3.text-center.gauge-title
                = 'F&I'
              #fi_qpa_yr_avg_gauge

          .qpa-card
            .content
              h3.text-center.gauge-title
                = 'RTS'
              #rts_qpa_yr_avg_gauge

        script.
          //- require('./renderer-process/qpa/pdf')
          var config = require('./main-process/db/config')
          var sql = require('seriate')
          sql.setDefaultConfig(config)

          var query_qpa = require('./main-process/db/queries/qpa_queries.js')
          var yearly_qpa_avgs = require('./main-process/db/graph_builders/qpa/qpa_ytd_solution_avg_gauges.js');

          window.onload = sql.execute({
            query: query_qpa.get_QPA_solution_avg_by_yr
          }).then(function(data) {
            //- console.log(data);
            yearly_qpa_avgs.build_solution_yearly_avg_graphs(data)
          }, function(err) {
            console.log(err);
          });

      .qpa-reports-container

        .qpa-big-card
          h3.text-center.qpa-timeseries-title QPA Averages By Solution | Month-Over-Month
          #qpa_all_solutions_month_over_month_avgs

        .col-spacer

        .qpa-big-card
          h3.text-center.qpa-timeseries-title QPA Counts By Solution | Month-Over-Month
          #qpa_all_solutions_month_over_month_cnts

          script.
            var config = require('./main-process/db/config')
            var sql = require('seriate')
            sql.setDefaultConfig(config)

            var query_qpa = require('./main-process/db/queries/qpa_queries.js')
            var month_over_month_qpa = require('./main-process/db/graph_builders/qpa/qpa_all_solutions_month_over_month_timeseries.js');

            window.onload = sql.execute({
              query: query_qpa.get_QPA_all_solution_avgs_month_over_month_by_yr
            }).then(function(data) {
              //- console.log(data);
              month_over_month_qpa.build_qpa_all_solution_avgs_month_over_month_timeseries(data)
              month_over_month_qpa.build_qpa_all_solution_counts_month_over_month_timeseries(data)
            }, function(err) {
              console.log(err);
            });