doctype html
html
  head
    block head
      block title
        title Default title
      meta(name='viewport', content='width=device-width, initial-scale=1.0')
      link(href='public/stylesheets/photon-kit/css/photon.css', rel='stylesheet')
      link(href='public/stylesheets/myStyles.css', rel='stylesheet')
      link(href='public/stylesheets/c3.min.css', rel='stylesheet')

  body

    div.window
      header.toolbar.toolbar-header
        h1.title WorkForce Optimization Reporting

      div.window-content

        div.pane-group

          div.pane.pane-sm.sidebar

            div.sidebar-menu
              nav.nav-group
                h1.nav-group-title.text-center Menu

                div.sidebar-menu-items

                  #homepage
                    button#homepage_.nav-group-item.btn.btn-large.btn-default.icon.icon-home 
                      | Home

                  #interactions
                    button#interactions_.nav-group-item.btn.btn-large.btn-default.icon.icon-chart-area 
                      | Interactions

                  #attendance
                    button#attendance_.nav-group-item.btn.btn-large.btn-default.icon.icon-clock 
                      | Attendance

                  #productivity
                    button#productivity_.nav-group-item.btn.btn-large.btn-default.icon.icon-gauge 
                      | Productivity

                  #qpa
                    button#qpa_.nav-group-item.btn.btn-large.btn-default.icon.icon-trophy 
                      | QPA

          block content

    block scripts
      script(type='text/javascript', src='public/js/nav.js')
      script(type='text/javascript', src='public/js/d3.min.js')
      script(type='text/javascript', src='public/js/c3.min.js')
      script(type='text/javascript', src='public/js/db.js')
