extends ../layout.jade

block title
  title WFO Data Viewer

block content

  div.body-area

    .row

      ul#addressbar.breadcrumb

    .row.homepage-main-row

      .homepage-graph-rows

        .row.homepage-first-row

          #homepage-first-report

        .row.homepage-second-row

          #homepage-second-report

      ul.body-area-bottom

  include ../footer.jade
