mixin add_qpa(title)

  section#qpa_sec.app-section
    .page-rows
      h1.text-center= title
      span.vert-space

      .qpa-homepage-header
        h3.text-center Reports

      .qpa-reports-container
        h4.text-center Custom Time Frame Reports

        .qpa-ytd-reports-selection.qpa-card-group
          #qpa_choose_dates_solution_.qpa-homepage-card.qpa-card-group-card.animate-button.main-click-el
            | Solution
          #qpa_choose_dates_solution_workgroups_.qpa-homepage-card.qpa-card-group-card.animate-button.main-click-el
            | WorkGroup
          #qpa_choose_dates_solution_workgroup_teams_.qpa-homepage-card.qpa-card-group-card.animate-button.main-click-el
            | Team
          #qpa_choose_dates_agent_.qpa-homepage-card.qpa-card-group-card.animate-button.main-click-el
            | Agent

      .qpa-reports-container
        h4.text-center Year-To-Date Reports

        .qpa-ytd-reports-selection.qpa-card-group
          #qpa_ytd_solution_.qpa-homepage-card.qpa-card-group-card.animate-button.main-click-el
            | Solution
          #qpa_ytd_solution_workgroups_.qpa-homepage-card.qpa-card-group-card.animate-button.main-click-el
            | WorkGroup
          #qpa_ytd_solution_workgroup_teams_.qpa-homepage-card.qpa-card-group-card.animate-button.main-click-el
            | Team
          #qpa_ytd_agent_.qpa-homepage-card.qpa-card-group-card.animate-button.main-click-el
            | Agent

      .qpa-reports-container
        h4.text-center Month-To-Date Reports
        
        .qpa-ytd-reports-selection.qpa-card-group
          #qpa_mtd_solution_.qpa-homepage-card.qpa-card-group-card.animate-button.main-click-el
            | Solution
          #qpa_mtd_solution_workgroups_.qpa-homepage-card.qpa-card-group-card.animate-button.main-click-el
            | WorkGroup
          #qpa_mtd_solution_workgroup_teams_.qpa-homepage-card.qpa-card-group-card.animate-button.main-click-el
            | Team
          #qpa_mtd_agent_.qpa-homepage-card.qpa-card-group-card.animate-button.main-click-el
            | Agent

      .qpa-reports-container
        h4.text-center Week-To-Date Reports
        
        .qpa-ytd-reports-selection.qpa-card-group
          #qpa_wtd_solution_.qpa-homepage-card.qpa-card-group-card.animate-button.main-click-el
            | Solution
          #qpa_wtd_solution_workgroups_.qpa-homepage-card.qpa-card-group-card.animate-button.main-click-el
            | WorkGroup
          #qpa_wtd_solution_workgroup_teams_.qpa-homepage-card.qpa-card-group-card.animate-button.main-click-el
            | Team
          #qpa_wtd_agent_.qpa-homepage-card.qpa-card-group-card.animate-button.main-click-el
            | Agent

      .qpa-ytd-solution-section