mixin add_qpa(title)

  section#qpa_sec.app-section
    .page-rows
      h1.text-center= title
      span.vert-space

      .qpa-homepage-header
        h3.text-center Reports

      .qpa-reports-container
        h4.text-center Custom Time Frame Reports

        .qpa-ytd-reports-selection.qpa-card-group
          .qpa-homepage-card.qpa-card-group-card.animate-button
            #qpa_ytd_solution_
              | Solution
          .qpa-homepage-card.qpa-card-group-card.animate-button
            #ytd_workgroup_qpa_reports
              | WorkGroup
          .qpa-homepage-card.qpa-card-group-card.animate-button
            #ytd_team_qpa_reports
              | Team
          .qpa-homepage-card.qpa-card-group-card.animate-button
            #ytd_agent_qpa_reports
              | Agent

      .qpa-reports-container
        h4.text-center Year-To-Date Reports

        .qpa-ytd-reports-selection.qpa-card-group
          .qpa-homepage-card.qpa-card-group-card.animate-button
            #ytd_solution_qpa_reports
              | Solution
          .qpa-homepage-card.qpa-card-group-card.animate-button
            #ytd_workgroup_qpa_reports
              | WorkGroup
          .qpa-homepage-card.qpa-card-group-card.animate-button
            #ytd_team_qpa_reports
              | Team
          .qpa-homepage-card.qpa-card-group-card.animate-button
            #ytd_agent_qpa_reports
              | Agent

      .qpa-reports-container
        h4.text-center Month-To-Date Reports
        
        .qpa-ytd-reports-selection.qpa-card-group
          .qpa-homepage-card.qpa-card-group-card.animate-button
            #ytd_solution_qpa_reports
              | Solution
          .qpa-homepage-card.qpa-card-group-card.animate-button
            #ytd_workgroup_qpa_reports
              | WorkGroup
          .qpa-homepage-card.qpa-card-group-card.animate-button
            #ytd_team_qpa_reports
              | Team
          .qpa-homepage-card.qpa-card-group-card.animate-button
            #ytd_agent_qpa_reports
              | Agent

      .qpa-reports-container
        h4.text-center Week-To-Date Reports
        
        .qpa-ytd-reports-selection.qpa-card-group
          .qpa-homepage-card.qpa-card-group-card.animate-button
            #ytd_solution_qpa_reports
              | Solution
          .qpa-homepage-card.qpa-card-group-card.animate-button
            #ytd_workgroup_qpa_reports
              | WorkGroup
          .qpa-homepage-card.qpa-card-group-card.animate-button
            #ytd_team_qpa_reports
              | Team
          .qpa-homepage-card.qpa-card-group-card.animate-button
            #ytd_agent_qpa_reports
              | Agent

      .qpa-ytd-solution-section