html,
body,
#homepage_sec,
#attendance_sec,
#interactions_sec,
#productivity_sec,
#qpa_sec,
#qpa_ytd_solution_sec {
  background: url(../images/htmlbg.png) repeat;
  -webkit-font-smoothing: antialiased;
}

/*.page-rows * {
  cursor: crosshair;
}*/

.page-rows h1 {
  color:rgba(0,0,0,.6);
  text-shadow:rgba(0,0,0,.2) 2px 6px 5px,rgba(255,255,255,.4) 0 -4px 30px;
  font-family: "Myriad Set Pro","Helvetica Neue","Helvetica","Arial",sans-serif;

}

.card {
  height: 50%;
  width: 80%;
  background: #fff;
  font-family: Roboto;
  display: block;
  position: relative;
  margin: 50px auto;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.2s ease-in-out;
}

.card:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  transform: scale(1.02);
}

.content {
  padding: 0.3819em;
  margin: 0.618em;
  text-align: center;
  overflow-y: auto;
  transition: 0.5s 0.3s cubic-bezier(.55, 0, .1, 1);
}

span.vert-space {
  display: block;
  margin-top: 0.3em;
  margin-bottom: 1em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 1px;
}

/*
 * -- SECTION: sidebar
 */

.sidebar {
  background: url(../images/dark_embroidery.png) repeat;
}

.sidebar .logo {
  margin-top: 1.618em;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0.319em;
  height: 12.618em;
  width: 12.618em;
  background-image: url(../images/dt_blue_square.png);
  background-repeat: no-repeat;
  background-position: center;
}

.sidebar .sidebar-menu {
  margin-top: 0.319em;
  margin-left: 0.5em;
  margin-right: 0.5em;
  margin-bottom: 0.5em;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.04);
}

.sidebar-menu .nav-group-title {
  font-size: 15px;
  font-weight: 700;
  color: #fcfcfc;
}

.sidebar-menu .nav-group-item {
  padding: 2px 10px 2px 10px;
}

.sidebar-menu .nav-group-item .icon {
  margin-top: 0;
  margin-left: 1em;
}

.sidebar-menu-items button {
  padding: 0;
  line-height: 1;
  width: 78%;
  font-size: 15px;
  font-weight: bold;
  letter-spacing: .0618em;
  margin-top: 0.382em;
  margin-bottom: 0.382em;
  margin-left: 1.618em;
  margin-right: 1.618em;
  border-radius: 3px;
  text-shadow: 0 1px white;
  background-image: linear-gradient(to bottom, #fcfcfc, #f0f0f0);
  -webkit-box-shadow: inset 0 0 0 1px #fafafa;
  cursor: pointer;
}

.sidebar-menu-items button.is-selected {
  background: linear-gradient(135deg, #00599A, #00599A, 94%, white);
  color: white;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  cursor: pointer;
  font-weight: normal;
}

.wallboard-links a {
  padding: 0;
  line-height: 1;
  width: 78%;
  font-size: 15px;
  font-weight: bold;
  letter-spacing: .0618em;
  margin-top: 0.382em;
  margin-bottom: 0.382em;
  margin-left: 1.618em;
  margin-right: 1.618em;
  border-radius: 3px;
  text-shadow: 0 1px white;
  background-image: linear-gradient(to bottom, #fcfcfc, #f0f0f0);
  -webkit-box-shadow: inset 0 0 0 1px #fafafa;
  cursor: pointer;
}

/*
 * -- SECTION: sections
 */

.pane section {
  padding: 2em;
}

.app-section {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-x: hidden;
  overflow-y: auto;

  /* Hide */
  pointer-events: none;
  opacity: 0;
  transform: translateX(-20px);
  transition: visibility 0s .12s linear , opacity .12s ease-in, transform .12s ease-in;
}

.app-section.is-shown {
  pointer-events: auto;
  visibility: visible;
  opacity: 1;
  transform: translateX(0);
  transition: visibility 0s 0s linear , opacity .36s ease-out, transform .36s ease-out;
}


/*
 * -- SECTION: homepage
 */


/*
 * -- SECTION: attendance
 */

.row.attendance-first-row.flexbox-container,
.row.attendance-second-row.flexbox-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.gauge-row-flexbox {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
  height: 100%;
  padding-top: 0.3819em;
}

.attendance-card {
  padding: 0;
  height: 25%;
  width: 33%;
  background: #fff;
  font-family: Roboto;
  display: block;
  position: relative;
  margin: auto;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.2s ease-in-out;
}

.attendance-card .content {
  overflow-x: hidden;
}

.attendance-card:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  transform: scale(1.02);
}

.gauge-title {
  font-size: 18px;
  color:rgba(0,0,0,.6);
  font-weight: bold;
  font-family: "Myriad Set Pro","Helvetica Neue","Helvetica","Arial",sans-serif;
}

/*
 * -- SECTION: interactions
 */

.interaction-card .content {
  overflow-x: hidden;
}

/*
 * -- SECTION: productivity
 */

/*---------------------------------------------*/
/*
 * -- SECTION: qpa
 */
/*---------------------------------------------*/

.qpa-homepage-header h3 {
  font-weight: bold;
  font-size: 32px;
}

.qpa-reports-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.qpa-reports-container h4 {
  font-size: 24px;
  margin-bottom: 0;
}

.qpa-ytd-reports-selection {

}

.qpa-card-group {
  display: flex;
  overflow: hidden;
}

.qpa-homepage-card {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  border-radius: 4px;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: #fff;
  padding: 2em;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 3px;
  margin-right: 3px;
  font-size: 16px;
  font-weight: 500;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.qpa-homepage-card,
.qpa-homepage-card * {
  cursor: pointer;
}

.qpa-homepage-card:hover {
  background: linear-gradient(135deg, #00599A, #00599A, 94%, white);
  color: white;
}

.qpa-card-group-card {
  flex: 1 1 0%;
  border: none;
  border-radius: 0;
}

.qpa-card-group-card-description {
  flex: 1 1 auto;
}

.animate-button {
  transition: all 0.1s;
  -webkit-transition: all 0.1s;
}

.animate-button:active {
  transform: translate(0px,5px);
  -webkit-transform: translate(0px,5px);
}

.qpa-big-card {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 75%;
  border: 1px solid black;
  border-radius: 4px;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-top: 0.319em;
  padding-right: 1.319em;
  background: #fff;
  font-size: 16px;
  font-weight: 500;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.col-spacer {
  padding-top: 1em;
}

.qpa-timeseries-title {
  font-size: 18px;
  font-weight: 600;
}


/*---------------------------------------------*/
/*---QPA PDF BUTTON---*/
/*---------------------------------------------*/
/*#qpa_sec.app-section button {
  padding: 0;
  line-height: 1;
  max-width: 8em;
  width: 100%;
  font-size: 15px;
  font-weight: bold;
  letter-spacing: .0618em;
  margin-bottom: 0.382em;
  margin-left: 1.618em;
  margin-right: 1.618em;
  border-radius: .3em;
  text-shadow: 0 1px white;
  background-image: linear-gradient(to bottom, #fcfcfc, #f0f0f0);
  -webkit-box-shadow: inset 0 0 0 1px #fafafa;
  cursor: pointer;
}*/
/*---------------------------------------------*/

/*---------------------------------------------*/
/*---QPA YTD REPORTS---*/
/*---------------------------------------------*/

.page-rows a {
  display: flex;
  flex-direction: column;
}

.page-rows a.hint--top.hint--always {
  margin-top: 4em;
}

.row.qpa-first-row.flexbox-container,
.row.qpa-second-row.flexbox-container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
}

.gauge-row-flexbox {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
  height: 100%;
  padding-left: 1.619em;
  padding-right: 1.619em;
  padding-bottom: 1.619em;
  align-items: center;
  justify-content: center;
}

.qpa-card {
  max-height: 10em;
  max-width: 10em;
  height: 10%;
  width: 16.812%;
  justify-content: center;
  vertical-align: middle;
  background: #fff;
  display: block;
  position: relative;
  margin-bottom: 1em;
  margin-left: 3px;
  margin-right: 3px;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.2s ease-in-out;
}

.qpa-card .content {
  overflow-x: hidden;
}

/*.qpa-card:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  transform: scale(1.02);
}*/

.qpa-card .gauge-title {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 13px;
  color:rgba(0,0,0,.6);
  font-weight: bold;
  font-family: "Myriad Set Pro","Helvetica Neue","Helvetica","Arial",sans-serif;
}

.qpa-card text.c3-gauge-value {
  font-size: 12px !important;
  font-weight: bold;
}

/*---------------------------------------------*/


