html,
body, 
.pane.sections-pane {
  background: url(../images/htmlbg.png) repeat;
  -webkit-font-smoothing: antialiased;
}

.page-rows h1 {
  color:rgba(0,0,0,.6);
  text-shadow:rgba(0,0,0,.2) 2px 6px 5px,rgba(255,255,255,.4) 0 -4px 30px;
  font-family: "Myriad Set Pro","Helvetica Neue","Helvetica","Arial",sans-serif;

}

.card {
  height: 50%;
  width: 80%;
  background: #fff;
  font-family: Roboto;
  display: block;
  position: relative;
  margin: 50px auto;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.2s ease-in-out;
}

.card:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  transform: scale(1.02);
}

.content {
  padding: 0.3819em;
  margin: 0.618em;
  text-align: center;
  overflow-y: auto;
  transition: 0.5s 0.3s cubic-bezier(.55, 0, .1, 1);
}

span.vert-space {
  display: block;
  margin-top: 0.3em;
  margin-bottom: 1em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 1px;
}

/*
 * -- SECTION: sidebar
 */

.sidebar {
  background: url(../images/dark_embroidery.png) repeat;
}

.sidebar .logo {
  margin-top: 1.618em;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0.319em;
  height: 12.618em;
  width: 12.618em;
  background-image: url(../images/dt_blue_square.png);
  background-repeat: no-repeat;
  background-position: center;
}

.sidebar .sidebar-menu {
  margin-top: 0.319em;
  margin-left: 0.5em;
  margin-right: 0.5em;
  margin-bottom: 0.5em;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.04);
}

.sidebar-menu .nav-group-title {
  font-size: 15px;
  font-weight: 700;
  color: #fcfcfc;
}

.sidebar-menu .nav-group-item {
  padding: 2px 10px 2px 10px;
}

.sidebar-menu .nav-group-item .icon {
  margin-top: 0;
  margin-left: 1em;
}

.sidebar-menu-items button {
  padding: 0;
  line-height: 1;
  width: 78%;
  font-size: 15px;
  font-weight: bold;
  letter-spacing: .0618em;
  margin-top: 0.382em;
  margin-bottom: 0.382em;
  margin-left: 1.618em;
  margin-right: 1.618em;
  border-radius: 3px;
  text-shadow: 0 1px white;
  background-image: linear-gradient(to bottom, #fcfcfc, #f0f0f0);
  -webkit-box-shadow: inset 0 0 0 1px #fafafa;
  cursor: pointer;
}

.sidebar-menu-items button.is-selected {
  background: linear-gradient(135deg, #00599A, #00599A, 94%, white);
  color: white;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  cursor: pointer;
  font-weight: normal;
}

.wallboard-links a {
  padding: 0;
  line-height: 1;
  width: 78%;
  font-size: 15px;
  font-weight: bold;
  letter-spacing: .0618em;
  margin-top: 0.382em;
  margin-bottom: 0.382em;
  margin-left: 1.618em;
  margin-right: 1.618em;
  border-radius: 3px;
  text-shadow: 0 1px white;
  background-image: linear-gradient(to bottom, #fcfcfc, #f0f0f0);
  -webkit-box-shadow: inset 0 0 0 1px #fafafa;
  cursor: pointer;
}

/*
 * -- SECTION: sections
 */

.pane section {
  padding: 2em;
}

.app-section {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-x: hidden;
  overflow-y: auto;

  /* Hide */
  pointer-events: none;
  opacity: 0;
  transform: translateX(-20px);
  transition: visibility 0s .12s linear , opacity .12s ease-in, transform .12s ease-in;
}

.app-section.is-shown {
  pointer-events: auto;
  visibility: visible;
  opacity: 1;
  transform: translateX(0);
  transition: visibility 0s 0s linear , opacity .36s ease-out, transform .36s ease-out;
}
